/* m10c theme scss override */

/* reduce circle thickness -- _app.scss */
.app-header-avatar {
  border: 0.2rem solid $primary-color;
}

/* reduce blockquotes font-size -- _post.scss */
.post-content {
  blockquote {
    p {
	  font-size:0.8em;
	}
  }
}

/* footer menu position
 * TODO: better way?
 */
.app-footer-menu {
  position: absolute;
  bottom: 20px;
  width: 80%;
  font-size: 0.8em;
}
